.result-div {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #3d4852;
    color: white;
}

.mat-raised-button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.mat-column-select {
    overflow: initial;
    width: 100px;
}

.item-management,
.capacity {
    margin-left: 1rem;
    margin-top: 1rem;
}

.mat-elevation-z8 {
    margin-left: 15px;
    margin-right: -15px;
}